easygp.xpm
client/.settings
db/updates/0.x_*
base/.gitignore
client/.gitignore
#---- Gambas files to ignore (v1)
*.gambas
.lock
*~
core
core.*
vgcore
vgcore.*
base/.kdbg*
client/.kdbg*
base/.*.prof
client/.*.prof
base/.lang/*.pot
client/.lang/*.pot
base/.gambas/*
client/.gambas/*
client/.action/*
#----
