<html>
<body>
<meta name='qrichtext' content='1' /></head><body>
<TABLE WIDTH=100% BORDER=0 CELLPADDING=4 CELLSPACING=3 >
<COL WIDTH=128*>
<COL WIDTH=128*>
<TR VALIGN=TOP>
<TD WIDTH=50%>
<P>%practitioner_name<BR>
   %provider_no</P>
</TD>
<TD WIDTH=50%>
<P ALIGN=RIGHT>%clinic.name<BR>
%clinic.branch<BR>
%clinic.street<BR>
%clinic.suburb<BR></P>
</TD>
</TR>
</TABLE>
<hr>
<P>%referred_to<BR>
%organisation
%branch
%address
%suburb
%phone
%fax</P>
<p>Dear %firstname%,</p>
<BR>
<TABLE WIDTH=100%>
<COL WIDTH=8%>
<COL WIDTH=92%>
<TR VALIGN=TOP>
<TD WIDTH=8%>
<P>Re:</P>
</TD>
<TD WIDTH=92%>
<P>%patient-line</P>
</TD>
</TR>
<TR VALIGN=TOP>
<TD WIDTH=8%>
<P></P>
</TD>
<TD WIDTH=92%>
<P>%comms</P>
</TD>
</TR>
</TABLE>
%type
<p>%body</p>
<p>Yours Sincerely</p>
<p><BR><BR></p>
<p>%user%</p>
%inclusions
%cc
</body>
</html>
