Source: easygp
Section: contrib/science
Priority: optional
Maintainer: Ian Haywood <ihaywood@gnu.org>
Build-Depends: debhelper (>> 7), gambas3-dev, gambas3-gb-db-postgresql, gambas3-gb-qt4, gambas3-gb-qt4-ext, gambas3-gb-qt4-webkit, gambas3-gb-pcre, gambas3-gb-pdf, gambas3-gb-desktop, gambas3-gb-image, gambas3-gb-form, gambas3-gb-form-stock, gambas3-gb-form-dialog, gambas3-gb-settings, gambas3-gb-form-mdi, gambas3-gb-crypt, gambas3-gb-net, gambas3-gb-net-curl, gambas3-gb-net-smtp, po-debconf, ruby
Homepage: http://easygp.net/
Standards-Version: 3.9.5

Package: easygp-client
Architecture: all
Depends: ${misc:Depends}, gnuplot, pdfjam, pdftk, wkhtmltopdf, imagemagick, texlive-latex-base, texlive-latex-extra, mutt, gambas3-gb-db-postgresql, gambas3-runtime, gambas3-gb-qt4, gambas3-gb-qt4-ext, gambas3-gb-qt4-webkit, gambas3-gb-pcre, gambas3-gb-pdf, gambas3-gb-desktop, gambas3-gb-image, gambas3-gb-form, gambas3-gb-form-stock, gambas3-gb-form-dialog, gambas3-gb-settings, gambas3-gb-form-mdi, gambas3-gb-crypt, gambas3-gb-net, gambas3-gb-net-curl, gambas3-gb-net-smtp, gambas3-gb-v4l, gambas3-gb-web, evince | pdf-viewer, p7zip, gambas3-gb-eval-highlight, lame, mplayer2, aspell
Suggests: easygp-doc
Provides: electronic-medical-record
Description: Australian electronic medical record, client package.
 A native graphical client for the EasyGP electronic medical record.
 .
 Features include:
   * Prescribing
   * Problem list optionally using various coding systems
   * WorkCover
   * Careplans
   * Vaccinations

Package: easygp-server
Architecture: all
Depends: ${misc:Depends}, postgresql (>= 9.1), postgresql-contrib (>= 9.1), cron, postgresql-plpython-9.3 | postgresql-plpython, python-psycopg2
Description: Australian electronic medical record, server package
 Sets up a database on a running PostgreSQL system for the
 EasyGP medical records package. See easygp(8) for instructions to set up.
 .
 EasyGP itself is a fully-featured electronic medical record
 with a graphical native client written in Gambas.

Package: easygp-doc
Architecture: all
Section: contrib/doc
Depends: ${misc:Depends}, easygp-client
Description: Australian electronic medical record, documentation
 Documentation for the EasyGP client, accessible through the client itself only.
 .
 EasyGP itself is a fully-featured electronic medical record
 with a graphical native client written in Gambas.
