Source: easygp
Section: contrib/science
Priority: optional
Maintainer: Ian Haywood <ihaywood3@gmail.com>
Build-Depends: debhelper (>> 3.0.0), gambas3-dev
Homepage: http://ozdocit.org/easygp/

Package: easygp-client
Architecture: all
Essential: no
Depends: gambas3-gb-db-postgresql, gambas3-runtime, gambas3-gb-qt, gambas3-gb-qt-webkit, gambas3-gb-pcre, gambas3-gb-pdf, gambas3-gb-desktop, gambas3-gb-image, gambas3-gb-form, gambas3-gb-form-dialog, gambas3-gb-settings, gambas3-gb-form-mdi
Provides: electronic-medical-record
Description: An Australian electronic medical record, client package.
 A native graphical client for the EasyGP electronic medical record.
 .
 Features include:
   * Prescribing
   * Problem list optionally using various coding systems
   * WorkCover
   * Careplans
   * Vaccinations

Package: easygp-server
Architecture: all
Essential: no
Depends: postgresql (>= 8.0), dbconfig-common 
Suggests: easygp-client
Description: An Australian electronic medical record, server package
 Installs the SQL scripts to set up a PostgreSQL database for the
 EasyGP medical records package. The database is called "easygp" and
 the owner also "easygp". 
 .
 EasyGP itself is a fully-featured electronic medical record
 with a graphical native client written in Gambas.
