[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=EasyGP
Comment=Medical records and prescribing program for Australian GPs and specialists 
Exec=/usr/bin/easygp.gambas
Icon=/usr/share/pixmaps/easygp.xpm
Terminal=false
Type=Application
StartupNotify=true
Categories=Office;MedicalSoftware
