#!/usr/bin/make -f
# This is a debian rules file
# for EasyGP
# covers both server and client packages
# Copyright (C) Ian Haywood 2009-10
# derived from example in /usr/share/doc/debhelper/rules.multi
export DH_VERBOSE=1

build: build-stamp
build-stamp: easygp.gambas help/build/toc.txt
	cd db/python && pycompile .
	dh_testdir
	touch build-stamp

easygp.gambas:
	cd base && gbc3 -e -a -p -m
	cd base && gba3
	mv base/base.gambas easygp-base.gambas
	cd client && PATH=$(PATH):.. gbc3 -e -a -p -m
	cd client && PATH=$(PATH):.. gba3
	mv client/client.gambas easygp.gambas
	convert client/easygp.png -resize 32x32 easygp.xpm

help/build/toc.txt:
	cd help && ruby basicdoc.rb easygp.bd --debian

clean:
	dh_testdir
	rm -f build-stamp install-stamp
	rm -f debian/debhelper.log
	rm -f debian/*.debhelper
	rm -f help/build/toc.txt
	rm -Rf `find . -name ".gambas"`
	rm -Rf `find . -name "*.gambas"`
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_prep
	dh_installdirs
	dh_install
	touch install-stamp

# Build architecture-independent files here.
binary-indep: build install
	dh_testdir -i
	dh_testroot -i
	dh_installchangelogs -i
	dh_installdocs -i
	dh_installmenu -i
	dh_installdebconf -i
	dh_installcatalogs -i
	dh_installmime -i
#	dh_installinfo -i
#	dh_installudev -i
	dh_lintian -i
	dh_installman debian/easygp.1 -peasygp-client
	dh_installman db/easygp.8 -peasygp-server
	dh_lintian -peasygp-client
	dh_link -peasygp-client usr/bin/easygp.gambas usr/bin/easygp
	dh_installdebconf -peasygp-server
	dh_compress -i
	dh_fixperms -i
	dh_installdeb -i
	dh_gencontrol -i
	dh_md5sums -i
	dh_builddeb -i

# Build architecture-dependent files here.


build-arch: build
build-indep: build

binary-arch: build install # nothing to do here

binary: binary-indep binary-arch

source:
	debuild -S -I

upload: build
	cd db && ./update-db.sh
	cd db && ./dumpdb.sh
	-cd .. && rm *.deb *.tar.gz *.dsc Sources Release Packages
	debuild -I
	cd .. && dpkg-scanpackages . > Packages
	cd .. && dpkg-scansources . > Sources
	cd .. && apt-ftparchive release . > Release
	cd .. && gzip -c Sources > Sources.gz
	cd .. && gzip -c Packages > Packages.gz
	cd .. && gpg -a --yes -b -o Release.gpg Release
	cd .. && scp *.deb Packages Sources Packages.gz Sources.gz *.tar.gz *.dsc Release Release.gpg 'ozdocit.org:~ftp/pub/easygp'


.PHONY: build clean binary-indep binary-arch binary install
