%form{:method=>'get',:action=>'/search_atc'}
  %p
    Search:
    %input{:type=>'text',:name=>'q'}
%table
  - @atcs.each do |a|
    %tr
      %td= a['atccode']
      %td
        %a{:href=>'/show/'+a['atccode']}= a['atcname']