%h2 Welcome to DrugRef

%p This is the very basic proof-of-concept version

%p
  It is written using
  %a{:href=>"http://www.sinatrarb.com/"} Sinatra

%form{:method=>'get',:action=>'/search_atc'}
  %p
    Search Drugs:
    %input{:type=>'text',:name=>'q'}