/* 	This is an open source XHTML/CSS website template created by Manjeet Singh Sawhney (http://www.manjeetss.com)
	You can use this template, but a reference to my website (www.manjeetss.com) would be appreciated. If you need 
	any help or would like me to develop a website for you then please contact me via my website or e-mail me at manjeetss@gmail.com
*/

body 
{
	margin: 0;
	padding: 0;
	width: 100%;
	font: 100% Tahoma, Verdana;
	background-color: #555;
}

a:link, a:visited, a:active
{
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}

a:hover 
{	
	text-decoration: underline;
}

#content 
{
	margin: 30px 0 0 240px;
	border-left: 2px solid #FFF;
	padding: 10px 30px 10px 30px;
}

#content h2 
{
	margin: 0 0 10px 0;
	font-size: 150%;
	color: #FFF;	
}

#content h3 
{
	margin: 0 0 10px 0;
	font-size: 120%;
	color: #FFF;	
}

#container 
{
	width: 100%;
	margin: 0 auto;
	color: #CCC;
	line-height: 20px;
}

#top 
{
	height: 140px;
	border-bottom: 2px solid #FFF;
	background-color: #555;
	color: #FFF;
}

#top h1 
{
	float: left;
	padding: 0;
	margin: 0 50px 0 40px;
	font-size: 500%;
	text-transform: uppercase;
}

#leftnav
{
	margin-top: 35px;
	float: left;
	width: 200px;
	padding-top: 25px;
}

#leftnav ul
{
	list-style: none;	
}

#footer 
{
	clear: both;
	margin: 0;
	padding: 10px 0;
	text-align: center;	
	border-top: 2px solid #FFF;
	color: #EEE;
	background: #191919;	
}

#menu 
{
	height: 70px;
	margin: 0;
	padding: 0;
	list-style: none;
	text-transform: lowercase;
}

#menu li 
{
	float: right;
	width: 78px;	
}

#menu a 
{
	display: block;
	height: 100px;
	width: 80px;
	font-weight: bold;
	line-height: 50px;
	padding: 40px 0 0 0;
	text-align: center;
	color: #FFF;	
}

#menu a#item1
{
	background-color: #ff00a8;
}

#menu a:hover#item1
{
	background-color: #ff73cf;
}

#menu a#item2
{
	background-color: #920ad8;
}

#menu a:hover#item2
{
	background-color: #b873db;
}

#menu a#item3
{
	background-color: #1e00d3;
}

#menu a:hover#item3
{
	background-color: #6c56f0;
}

#menu a#item4
{
	background-color: #05d300;
}

#menu a:hover#item4
{
	background-color: #7cd57a;
}
#menu a#item5
{
	background-color: #d30500;
}

#menu a:hover#item5
{
	background-color: #00ffa8;
}